{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo">
				<div class="container">
					<div class="promo-content">
						<div class="row align-vertical-center align-horisontal-start row-nowrap">
							<div class="promo-content__text" data-aos="fade-up">
								<h2>Якщо вам запропонували місце<br> на космічному кораблі, не запитуйте,<br> яке місце! Встрибуйте всередину!</h2>
								<h1>експрес-курс «СТАРТ ІНСТАБІЗНЕСУ ДЛЯ ЧАЙНИКІВ»</h1>
							</div>
							<div class="promo-content__img" >
								<img src="img/head.svg" alt="" data-aos="fade-down">
								<img src="img/body.svg" alt="" data-aos="fade-up">
							</div>
						</div>
					</div>

					<div class="timer" data-date="September 1, 2022, 00:00:00">
						<p class="timer-title text-center">ДО СТАРТУ КУРСУ ЗАЛИШИЛОСЯ:</p>

						<div class="timer-units">
							<div class="timer-unit">
								<span class="js-timer-days">Д</span>
								день
							</div>
							<div class="timer-unit">
								<span class="js-timer-hours">Г</span>
								год
							</div>
							<div class="timer-unit">
								<span class="js-timer-minutes">Х</span>
								хв
							</div>
						</div>
					</div>

					<div class="text-center">
						<a href="#courses" class="btn js-smooth-scroll-link">придбати курс</a>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect promo -->

			<section class="sect__about" id="aboutCourse">
				<div class="container">
					<div class="about-course row row-nowrap align-vertical-start">
						<div class="about-course__img" data-aos="fade-up">
							<img src="img/about.png" alt="">
						</div>
						<div class="about-course__content">
							<h2 class="about-course__title" data-aos="flip-up">курс розроблений топовим спеціалістом по<br> маркетингу,  з п'ятнадцятирічним досвідом<br> роботи, Алісою Гармаш.</h2>
							<div class="about-course__text">
								<div data-aos="fade-up" data-aos-delay="100">
									<p>Привіт! Я Аліса - практикуючий маркетолог ось уже як 15 років. Я той самий динозавр, який працює по професії за освітою. </p>
									<p>За час моєї кар'єри я працювала з локальними та світовими брендами,  у форматі постійної зайнятості і на фрілансі, на позиціях підлеглої і управлінця, робила кейси «під ключ». SMM, з моменту його появи на ринку України, входив у сферу моїх інтересів та відповідальних обов`язків.</p>
									
								</div>
								<div data-aos="fade-up" data-aos-delay="200">
									<p>Цей короткий експрес-курс використання Instagram для бізнесу чи для просування особистого бренду — я створила саме для тебе. Для того, хто хоче легко розібратися у складному, і сміливо зробити крок у світ Digital-маркетингу.</p>

									<h3>Опануй розуміння понять разом з BSP SCHOOL</h3>
								</div>

								
							</div>

							<div class="partners-logos">
								<div class="row row-nowrap align-vertical-center align-horisontal-between">

									<div class="partner-logo" data-aos="fade-up" data-aos-delay="100"><img src="img/partners/1.png" alt=""></div>
									<div class="partner-logo" data-aos="fade-up" data-aos-delay="200"><img src="img/partners/2.png" alt=""></div>
									<div class="partner-logo" data-aos="fade-up" data-aos-delay="300"><img src="img/partners/3.png" alt=""></div>
									<div class="partner-logo" data-aos="fade-up" data-aos-delay="400"><img src="img/partners/4.png" alt=""></div>
									<div class="partner-logo" data-aos="fade-up" data-aos-delay="500"><img src="img/partners/5.png" alt=""></div>
									<div class="partner-logo" data-aos="fade-up" data-aos-delay="600"><img src="img/partners/6.png" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->

			</section>
			<!-- //sect about -->

			<section class="sect__course-description" id="courseDescription">

				<div class="container">
					<div class="course-description">
						<h2 class="sect-title" data-aos="flip-up">ДЛЯ КОГО<br> ЦЕЙ ПРОДУКТ</h2>

						<div class="row align-horisontal-between row-nowrap course-description__row">
							<div class="course-description__text" data-aos="fade-up" data-aos-delay="100">
								<p>Ти <em>хочеш заробляти</em> в Instagram,<br> але і гадки не маєш, <em>як це все<br> робити</em>? </p>
							</div>
							<div class="course-description__img" data-aos="fade-up" data-aos-delay="200">
								<img src="img/hand.svg" alt="">
							</div>
							<div class="course-description__text" data-aos="fade-up" data-aos-delay="300">
								<p><em>Вітаємо! Виходить, ти — наша людина.</em> Цей курс подарує тобі розуміння, що таке бізнес-сторінка, як її правильно оформити, як налаштувати ефективну рекламу і залетіти у світ digital з легкістю та ще й на феєричній швидкості.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect course description -->

			<section class="sect__problems" id="problems">
				<h2 class="container sect-title" data-aos="flip-up">Ми тут, щоб вирішити<br> твої головняки, якщо:</h2>

				<div class="container">

					
					<div class="problems row align-horisontal-between row-nowrap row-gutters">
						<div class="problem col-gutters" data-aos="fade-up" data-aos-delay="100">
							<img src="img/problems/1.svg" alt="">
							<div>
								<p>ти втомився від<br> «лінивих» пропозицій<br> псевдо-маркетологів</p>
							</div>
						</div>

						<div class="problem col-gutters" data-aos="fade-up" data-aos-delay="200">
							<img src="img/problems/2.svg" alt="">
							<div>
								<p>твоя реклама<br> не ефективна</p>
							</div>
						</div>

						<div class="problem col-gutters" data-aos="fade-up" data-aos-delay="300">
							<img src="img/problems/3.svg" alt="">
							<div>
								<p>ти сумніваєшся, що твої підрядники зможуть принести тобі конверсію: грошей, підписників, популярність</p>
								<p><em>(читати: виконати цільове<br> призначення)</em></p>
							</div>
						</div>
					</div>
					<div class="text-center" data-aos="fade-up" data-aos-delay="400">
						<a href="#courses" class="btn btn-stroke">Тобі сюди!</a>
					</div>
				</div>

				<!-- //container -->
			</section>
			<!-- //sect problems -->

			<section class="sect__capabilities" id="capabilities">
				<h2 class="container sect-title" data-aos="flip-up">ПОТЕНЦІЙНІ<br> МОЖЛИВОСТІ КУРСУ</h2>
				<div class="container">
					<div class="capabilities">
						<div class="capabilities__list" data-aos="fade-down">
							<ul>
								<li>аналіз та вивчення<br> твоєї ніші ринку та<br> конкурентів</li>
								<li>створення креативної<br> рекламної кампанії</li>
								<li>готова бізнес-<br>сторінка</li>
								<li>знайомство<br> з професійним<br> програмним<br> забезпеченням</li>
								<li>рубрикатор<br> і контент-план</li>
								<li>методичка-мануал,<br> що залишиться з<br> вами, як шпаргалка</li>
							</ul>
						</div>

						<h3 class="capabilities__slogan" data-aos="flip-up">І НАЙГОЛОВНІШЕ, ЩО ТИ ОТРИМАЄШ —<br> ЦЕ ВПЕВНЕНІСТЬ У СВОЇХ СИЛАХ</h3>

						<div class="capabilities__img">
							<img src="img/planet.svg" alt="" data-aos="fade-down" data-aos-delay="100">
							<img src="img/man.svg" alt="" data-aos="fade-up" data-aos-delay="200">
						</div>
					</div>	
					
				</div>
				<!-- //container -->
			</section>
			<!-- //sect capabilities -->

			<section class="sect__program" id="program">
				
				<div class="container">
					<div class="program">
						<h2 class="sect-title" data-aos="flip-up">ПРОГРАМА<br> НАВЧАННЯ </h2>
						<img src="img/woman.svg" alt="" class="program__img" data-aos="fade-up" data-aos-delay="400">

						<div class="program-steps row align-horisontal-between row-nowrap row-gutters">
							<div class="program-step col-gutters " data-aos="fade-up" data-aos-delay="100">
								<img src="img/program/1.svg" alt="">
								<p>Створення бізнес-сторінки, базові навички та навігація в Instagram</p>
							</div>

							<div class="program-step col-gutters " data-aos="fade-up" data-aos-delay="200">
								<img src="img/program/2.svg" alt="">
								<p>Вивчення ринку, виставлення цілей виходу в соціальну мережу, розробка контент-плану</p>
							</div>

							<div class="program-step col-gutters " data-aos="fade-up" data-aos-delay="300">
								<img src="img/program/3.svg" alt="">
								<p>Знайомство з професійним програмним забезпеченням, розробка креативів, запуск рекламної кампанії</p>
							</div>
						</div>

						
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect program -->

			<section class="sect__packages" id="courses">
				<h2 class="container sect-title" data-aos="flip-up">ФОРМАТ РОБОТИ</h2>
				<h3 class="container sect-subtitle" data-aos="flip-up" data-aos-delay="100">3-хСТУПІНЧАСТИЙ<br> ФОРМАТ РОБОТИ</h3>

				<div class="container">
					<div class="packages">
						<div class="packages__row row align-horisontal-between  row-gutters">
							<div class="package-wrapper col-gutters " data-aos="fade-up" data-aos-delay="200">
								<div class="package" data-package="basic">
									<div class="package-front">
										<div class="package-front__content">
											<img src="img/packages/1.svg" alt="">
											<h4 class="package-title">basic</h4>
										</div>
										<a href="#prices_1" class="btn js-smooth-scroll-link">Придбати</a>
									</div>
									<div class="package-back">
										<div class="package-back__content">
											<h5>Самостійне<br> вивчення</h5>
											<p><em>Ви отримуєте мануал<br> для самостійної роботи</em></p>
										</div>
										<a href="#prices_1" class="btn btn-stroke js-smooth-scroll-link">Придбати</a>
									</div>
								</div>
							</div>
							<!-- //package -->

							<div class="package-wrapper col-gutters " data-aos="fade-up" data-aos-delay="300">
								<div class="package" data-package="advanced">
									<div class="package-front">
										<div class="package-front__content">
											<img src="img/packages/2.svg" alt="">
											<h4 class="package-title">Advanced</h4>
										</div>
										<a href="#prices_2" class="btn js-smooth-scroll-link">Придбати</a>
									</div>
									<div class="package-back">
										<div class="package-back__content">
											<h5>Робота<br> з ментором</h5>
											<p><em>Онлайн супровід та підтримка в мессенджері, первірка домашніх завдань, фідбек. поради</em></p>
										</div>
										<a href="#prices_2" class="btn btn-stroke js-smooth-scroll-link">Придбати</a>
									</div>
								</div>
							</div>
							<!-- //package -->

							<div class="package-wrapper col-gutters " data-aos="fade-up" data-aos-delay="400">
								<div class="package" data-package="pro">
									<div class="package-front">
										<div class="package-front__content">
											<img src="img/packages/3.svg" alt="">
											<h4 class="package-title">Pro</h4>
										</div>
										<a href="#prices_3" class="btn js-smooth-scroll-link">Придбати</a>
									</div>
									<div class="package-back">
										<div class="package-back__content">
											<h5>Три уроки в режимі онлайн з ментором, мануал + бонус</h5>
											<p><em>Три уроки в режимі онлайн із ментором, мануал+ бонус тиждень роботи з ментором в режимі питання-відповідь по закінченню курсу</em></p>
										</div>
										<a href="#prices_3" class="btn btn-stroke js-smooth-scroll-link">Придбати</a>
									</div>
								</div>
							</div>
							<!-- //package -->


						</div>

					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect program -->

			<section class="sect__feedbacks" id="feedbacks">
				<h2 class="container sect-title" data-aos="flip-up">відгуки</h2>
				<div class="container">
					<div class="feedbacks">

						<div class="feedbacks-slider">
							<div class="feedback">
								<span class="feedback-avatar" style="background-image: url('img/helmet.svg');"></span>
								<h3 class="feedback-author__name">Марія</h3>
								<div>
									<p>Місяць тому я вирішила пройти курс принципово було бажання знайти онлайн, т.к. виїхавши з України, я не змогла знайти нічого придатного і зрозумілого в Європі. Та й довіри до наших професіоналів більше буде. Курс шукала не один день. А коли побачила рекламу BSM School, де все написано було зрозумілою мовою та за гарним прайсом – вирішила ризикнути. І не пошкодувала жодного разу) Аліса – це щось!) За такий короткий час вона мені дала круту базу за інформацією, ми проробили всі нюанси ведення моєї бізнес-сторінки так, що ще в процесі навчання я вже приймала запити від нових клієнтів. Такої бази знань за такі адекватні гроші я не знайшла б ніде. Чому дуже рада) Всім рекомендую!</p>
								</div>
							</div>
							<!-- //feedback -->

							<div class="feedback">
								<span class="feedback-avatar" style="background-image: url('img/helmet.svg');"></span>
								<h3 class="feedback-author__name">Ігор</h3>
								<div>
									<p>Коли я вирішив зайнятися своєю інтеграцією в Інтернет просторі (часи такі настали, що стало треба), то перечитав безліч відгуків про різні школи і все шось було не то. А спрацювало старе добре сарафанне радіо. Знайома порадила мені Алісу та її курс. Співвідношення ціна-якість просто бомба! Легко, весело і ефективно, я опанував інстаграм і завдяки професіоналізму Аліси, яка навчила мене усьому необхідному, дала додаткові програми, знання та віру в себе — я зможу там продавати свої послуги і знаходити нових клієнтів. </p>
								</div>
							</div>
							<!-- //feedback -->

							<div class="feedback">
								<span class="feedback-avatar" style="background-image: url('img/helmet.svg');"></span>
								<h3 class="feedback-author__name">Аліна</h3>
								<div>
									<p>Я придбала базовий курс і вже на початку вивчення зрозуміла, що краще перейти на курс з ментором, так як не вистачало самодисципліни і наставництва. І не прогадала! Такої ефективної взаємодії я навіть не очікувала! Ми чудово пропрацювали нішу, я навчилась аналізувати ринок та своїх конкурентів, запустила свою першу рекламну кампанію і перші звернення клієнтів! Моїй радості не було меж. Більш вдалого старту для свого маленького бізнесу я і уявити не могла. Сміло рекомендую BSP SCHOOL , як гарну базу для старту бізнесу в Інтернеті. </p>
								</div>
							</div>
							<!-- //feedback -->

							<div class="feedback">
								<span class="feedback-avatar" style="background-image: url('img/helmet.svg');"></span>
								<h3 class="feedback-author__name">Ігор</h3>
								<div>
									<p>Коли я вирішив зайнятися своєю інтеграцією в Інтернет просторі (часи такі настали, що стало треба), то перечитав безліч відгуків про різні школи і все шось було не то. А спрацювало старе добре сарафанне радіо. Знайома порадила мені Алісу та її курс. Співвідношення ціна-якість просто бомба! Легко, весело і ефективно, я опанував інстаграм і завдяки професіоналізму Аліси, яка навчила мене усьому необхідному, дала додаткові програми, знання та віру в себе — я зможу там продавати свої послуги і знаходити нових клієнтів. </p>
								</div>
							</div>
							<!-- //feedback -->
						</div>

						<div class="slider-pagination js-feedbacks-slider-pagination"></div>

						<button class="btn-arrow js-feedbacks-slider-btn" type="button">
							<svg  viewBox="0 0 42 46"  xmlns="http://www.w3.org/2000/svg">
								<path d="M40.6213 25.1213C41.7929 23.9498 41.7929 22.0503 40.6213 20.8787L21.5294 1.7868C20.3579 0.615225 18.4584 0.615225 17.2868 1.7868C16.1152 2.95837 16.1152 4.85787 17.2868 6.02944L34.2574 23L17.2868 39.9706C16.1152 41.1421 16.1152 43.0416 17.2868 44.2132C18.4584 45.3848 20.3579 45.3848 21.5294 44.2132L40.6213 25.1213ZM0.5 26L38.5 26L38.5 20L0.5 20L0.5 26Z" />
							</svg>
						</button>

						<img src="img/man2.svg" alt="" class="feedbacks-img" data-aos="fade-up">
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect feedbacks -->

			<section class="sect__prices" id="prices">
				<h2 class="container sect-title" data-aos="flip-up">тарифи</h2>
				<div class="container">
					<div class="prices-packages row align-horisontal-between row-gutters">
						<div class="price-package__wrapper col-gutters" data-aos="fade-up" data-aos-delay="100" id="prices_1">
							<div class="price-package">
								<h3 class="price-package__title">basic</h3>
								<p class="price-package__value">15<span>$</span></p>
								<button class="btn btn-wide js-open-popup-form-btn" type="button" data-package-price="15" data-package-title="basic">пройти курс</button>
							</div>
						</div>
						<!-- //price -->

						<div class="price-package__wrapper col-gutters" data-aos="fade-up" data-aos-delay="200" id="prices_2">
							<div class="price-package">
								<h3 class="price-package__title">advanced</h3>
								<p class="price-package__value">50<span>$</span></p>
								<button class="btn btn-wide js-open-popup-form-btn" type="button" data-package-price="50" data-package-title="advanced">пройти курс</button>
							</div>
						</div>
						<!-- //price -->

						<div class="price-package__wrapper col-gutters" data-aos="fade-up" data-aos-delay="300" id="prices_3">
							<div class="price-package">
								<h3 class="price-package__title">pro</h3>
								<p class="price-package__value">100<span>$</span></p>
								<button class="btn btn-wide js-open-popup-form-btn" type="button" data-package-price="100" data-package-title="pro">пройти курс</button>
							</div>
						</div>
						<!-- //price -->
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect prices -->

			<section class="sect__advantages" id="advantages">
				<h2 class="container sect-title" data-aos="flip-up">ПЕРЕВАГИ КУРСУ</h2>
				<div class="container">
					<div class="advantages row align-horisontal-start row-gutters">
						<div class="advantage col-w-25 col-gutters" data-aos="fade-up" data-aos-delay="100">
							<img src="img/advantages/1.svg" alt="">
							<h3 class="advantage__title">ДОСВІД</h3>
							<p>Понад 10 років<br> досвіду викладача<br> у SMM і маркетингу.</p>
						</div>

						<div class="advantage col-w-25 col-gutters" data-aos="fade-up" data-aos-delay="200">
							<img src="img/advantages/2.svg" alt="">
							<h3 class="advantage__title">ЗРУЧНІСТЬ</h3>
							<p>Навчання відбувається в режимі онлайн. Ви не витрачаєте час на переміщення та займаєтеся у комфортних для вас умовах</p>
						</div>

						<div class="advantage col-w-25 col-gutters" data-aos="fade-up" data-aos-delay="300">
							<img src="img/advantages/3.svg" alt="">
							<h3 class="advantage__title">Стислість</h3>
							<p>Концентрована практика, акценти тільки на найважливіших елементах</p>
						</div>

						<div class="advantage col-w-25 col-gutters" data-aos="fade-up" data-aos-delay="400">
							<img src="img/advantages/4.svg" alt="">
							<h3 class="advantage__title">ІНСТРУМЕНТАРІЙ</h3>
							<p>Ви отримаєте досвід роботи з найефективнішими інструментами (програми, фішки, сайти)</p>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect advantages -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>