.socials
	font-size 0
	white-space nowrap
	pointer-events auto
	padding-top 15px
	li
		display inline-block
		margin-right 40px
		&:last-child
			margin-right 0
	a
		display block
		
		svg
			svg()
			fill $accent-color
		&:hover
			svg
				fill $text-color
			
		